<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <taglib>  
        <taglib-uri>ghy/core</taglib-uri>  
        <taglib-location>/WEB-INF/tag/c.tld</taglib-location>  
    </taglib>  
    <servlet>
        <servlet-name>xixi</servlet-name>
        <servlet-class>ghytest.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xixi</servlet-name>
        <url-pattern>/xixi</url-pattern>
    </servlet-mapping>
</web-app>
